<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">

    <div class="col-sm-3">
      <div>
      <a routerLink="/select-table"> 
        <button class ="btn-lg btn-success"><span class="glyphicon glyphicon-arrow-left"></span></button>
      </a>
      </div>
      <h2 *ngIf="this.tableService.getMenuListTotalPrice(this.id) == 0">Tổng cộng: 0.000 VNĐ</h2>
      <h2 *ngIf="this.tableService.getMenuListTotalPrice(this.id) != 0">Tổng cộng: {{this.tableService.getMenuListTotalPrice(this.id)}}.000 VNĐ</h2>
      <a [routerLink] = "['/receipt', this.id]">
      <button type="button" class="btn btn-default">Thông tin bàn {{this.id}}</button>
      </a>      
      <button (click) ="cancelTable()"type="button" class="btn btn-danger pull-right">Hủy</button>
      </div>

    <div class="col-sm-9" >
      <h2>Menu</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th >Món</th>
            <th >Giá</th>
            <th >Số lượng</th>
            <th >Thêm</th>
            <th >Bớt</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uniqueMenuList; let i = index" class="{{this.isHighlight[i]}}">
            <td>{{item.itemName}}</td>
            <td>{{item.itemPrice}}.000 VNĐ</td>
            <td> {{item.itemQuantity}} </td>
            <td><button (click)="increaseClick(item,i)" type="button" class="btn btn-info">+</button></td>
            <td><button (click)="decreaseClick(item,i)" type="button" class="btn btn-warning">-</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



